<table class="body-wrap" style="font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif; box-sizing: border-box; font-size: 14px; width: 100%; background-color: #f6f6f6; margin: 0;" bgcolor="#f6f6f6">
  <tbody>
  <tr>
    <td></td>
    <td class="container" width="600">
      <div class="content">
        <table class="main" width="100%" cellpadding="0" cellspacing="0">
          <tbody>
          <tr>
            <td class="header" style="background-color: #b8421c; padding: 20px; text-align: center; border-radius: 3px 3px 0 0;">
              <a href="http://localhost:3000" style="font-size:32px;color:#fff;text-decoration:none;">LoyaltyKoi.vn</a>
              <br>
              <span style="margin-top: 10px;display: block;color:#fff;">[[${subject}]]</span>
            </td>
          </tr>
          <tr>
            <td class="content-wrap" style="padding: 20px; background-color: #fff;">
              <table width="100%" cellpadding="0" cellspacing="0">
                <tr>
                  <td style="padding-bottom: 20px;">
                    Xin chào <strong>[[${name}]]</strong>,
                  </td>
                </tr>
                <tr>
                  <td style="padding-bottom: 20px;">
                    [[${mainContent}]]
                  </td>
                </tr>
                <tr>
                  <td style="padding-bottom: 20px;">
                    <a th:href="${link}" class="btn-primary" style="background-color: #df3939; color: #fff; padding: 10px 20px; border-radius: 5px; text-decoration: none; display: inline-block;">
                      [[${button}]]
                    </a>
                  </td>
                </tr>
                <tr>
                  <td style="padding-bottom: 20px;">
                    <p>Nếu bạn không thực hiện yêu cầu này, vui lòng bỏ qua email này.</p>
                    <p>Link xác thực sẽ hết hạn sau 15 phút.</p>
                  </td>
                </tr>
              </table>
            </td>
          </tr>
          </tbody>
        </table>
        <div class="footer" style="margin-top: 20px; text-align: center; color: #999;">
          <p>© 2024 LoyaltyKoi.vn. All rights reserved.</p>
        </div>
      </div>
    </td>
    <td></td>
  </tr>
  </tbody>
</table>